body{
background-color: orange;
    
h1{
  border:10 px solid black;
  width:500 px;
  background-color:white;
  color:rgb(38, 0, 128);
  font-family:monospace ;
  font-size:50 px;
}
button{
  color:green;
  font-size:30px;
}
.login:hover{
  color:blue;
  cursor:pointer;
}
#player_1{
  border-radius:5px;
  border-width:5px;
 border-color:black;
  font-size:20px;
}
#player_2{
  border-radius:5px;
  border-width:5px;
 border-color:black;
  font-size:20px;
}

